<head>
  <link type="text/css" rel="stylesheet" href="/assets/css/404.css" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/icons/favicon-16x16.png"
  />
  <link rel="manifest" href="/assets/icons/site.webmanifest" />
  <link rel="shortcut icon" href="/assets/icons/favicon.ico" />
  <meta name="msapplication-TileColor" content="#603cba" />
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
</head>
{% include menubar.html %}
<body class="permission_denied">
  <div id="tsparticles"></div>
  <div class="denied__wrapper">
    <h1>404</h1>
    <h3>Hmm, looks like that page doesn't exist.</h3>
    <img id="astronaut" src="/assets/images/astronaut.svg" />
    <img id="planet" src="/assets/images/planet.svg" />
    <a href="/"><button class="denied__link">Go Home</button></a>
  </div>

  <script type="text/javascript" src="/assets/js/main.min.js"></script>
  {% include analytics.html %}
</body>
