<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="mobile-web-app-capable" content="yes" />

  <title>
    {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}
  </title>

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ site.baseurl}}/assets/icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ site.baseurl}}/assets/icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ site.baseurl}}/assets/icons/favicon-16x16.png"
  />
  <link rel="manifest" href="{{ site.baseurl}}/assets/icons/site.webmanifest" />
  <link rel="shortcut icon" href="{{ site.baseurl}}/assets/icons/favicon.ico" />
  <meta name="msapplication-TileColor" content="#603cba" />
  <meta
    name="msapplication-config"
    content="{{ site.baseurl}}/assets/icons/browserconfig.xml"
  />
  <meta name="theme-color" content="#ffffff" />

  <script src="/assets/js/main.min.js"></script>
  <link
    rel="stylesheet"
    href="{{ site.baseurl }}/assets/css/semantic-ui/semantic.min.css"
  />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/menubar.css" />

  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.baseurl}}/assets/css/homepage-default.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ site.baseurl}}/assets/css/homepage-customizations.css"
  />
</head>
