
{% assign current = page.url | downcase | split: '/' %}
<header id="luxbar" class="luxbar-fixed">
    <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
    <div class="luxbar-menu luxbar-menu-left luxbar-menu-nordic">
        <ul class="luxbar-navigation">
            <li class="luxbar-header">
                <a href="{{ site.baseurl}}/" class="luxbar-brand">
                    <img class="home-icon" src="{{ site.baseurl}}/assets/images/home.png" alt="Home" /> 
                  </a>
                <label class="luxbar-hamburger luxbar-hamburger-doublespin" 
                id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
            </li>
            <li class="luxbar-item {% if current[1] == "resume" %} active {% endif %}""><a href="{{ site.baseurl }}/resume" ">Resume</a></li>
        </ul>
    </div>
</header>