/* styles-6 variables */
$theme-color: #4c566a;
$text-color: #2e3440;
$text-color-secondary: #545e6c;
$text-grey: #97aac3;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #d8dee9;
$heart: #fb866a;
