---
#Add "layout: compress" here to compress the html code
layout: compress
---

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  {% include resume-head.html %}

  <body>
    {% include menubar.html %}
    <div class="page-container">
      <div class="wrapper">
        {% include resume-sidebar.html %}

        <div class="main-wrapper">{{ content }}</div>
      </div>

      {% include footer.html %} {% include resume-scripts.html %} {% include
      analytics.html %}
    </div>
  </body>
</html>
